.root {
  display: flex;
}

.navigationwrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #121214;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: rgb(199, 46, 92);
  cursor: pointer;
}

.arrowleft {
  left: 5px;
}

.arrowright {
  left: auto;
  right: 5px;
}

.arrowdisabled {
  fill: rgba(255, 255, 255, 0.5);
}
